<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.core.dao.content.SysNoticeReadRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.core.model.content.SysNoticeReadRecord" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="column_content_id" property="columnContentId" jdbcType="VARCHAR" />
    <result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
    <result column="extfield1" property="extfield1" jdbcType="VARCHAR" />
    <result column="extfield2" property="extfield2" jdbcType="VARCHAR" />
    <result column="extfield3" property="extfield3" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, customer_id, column_content_id, read_time, extfield1, extfield2, extfield3, 
    create_time, create_user, last_update_time, last_update_user, status, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_notice_read_record
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_notice_read_record
    where customer_id = #{customerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_notice_read_record
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yscf.core.model.content.SysNoticeReadRecord" >
    insert into t_sys_notice_read_record (pid, customer_id, column_content_id, 
      read_time, extfield1, extfield2, 
      extfield3, create_time, create_user, 
      last_update_time, last_update_user, status, 
      version)
    values (#{pid,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{columnContentId,jdbcType=VARCHAR}, 
      #{readTime,jdbcType=TIMESTAMP}, #{extfield1,jdbcType=VARCHAR}, #{extfield2,jdbcType=VARCHAR}, 
      #{extfield3,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.core.model.content.SysNoticeReadRecord" >
    insert into t_sys_notice_read_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="columnContentId != null" >
        column_content_id,
      </if>
      <if test="readTime != null" >
        read_time,
      </if>
      <if test="extfield1 != null" >
        extfield1,
      </if>
      <if test="extfield2 != null" >
        extfield2,
      </if>
      <if test="extfield3 != null" >
        extfield3,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="columnContentId != null" >
        #{columnContentId,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extfield1 != null" >
        #{extfield1,jdbcType=VARCHAR},
      </if>
      <if test="extfield2 != null" >
        #{extfield2,jdbcType=VARCHAR},
      </if>
      <if test="extfield3 != null" >
        #{extfield3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <insert id="batchInsert" parameterType="java.util.List" >
    INSERT INTO t_sys_notice_read_record 
    		(pid, customer_id, column_content_id,read_time,create_time, create_user, status,version)
    VALUES 
	    <foreach collection="list" item="item" index="index" separator="," >
	        (#{item.pid},#{item.customerId},#{item.columnContentId},#{item.readTime},#{item.createTime},#{item.createUser},#{item.status},#{item.version})
	    </foreach> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.core.model.content.SysNoticeReadRecord" >
    update t_sys_notice_read_record
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="columnContentId != null" >
        column_content_id = #{columnContentId,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        read_time = #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extfield1 != null" >
        extfield1 = #{extfield1,jdbcType=VARCHAR},
      </if>
      <if test="extfield2 != null" >
        extfield2 = #{extfield2,jdbcType=VARCHAR},
      </if>
      <if test="extfield3 != null" >
        extfield3 = #{extfield3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.core.model.content.SysNoticeReadRecord" >
    update t_sys_notice_read_record
    set customer_id = #{customerId,jdbcType=VARCHAR},
      column_content_id = #{columnContentId,jdbcType=VARCHAR},
      read_time = #{readTime,jdbcType=TIMESTAMP},
      extfield1 = #{extfield1,jdbcType=VARCHAR},
      extfield2 = #{extfield2,jdbcType=VARCHAR},
      extfield3 = #{extfield3,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>