<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yscf.core.dao.ptp.homepage.HomePageMapper">
 
 	<!-- 获取最高年利率信息 --> 
  	<select id="getMaximumAPR" resultType="java.math.BigDecimal">
  		SELECT bbw.borrow_rate FROM t_biz_borrow bbw WHERE bbw.status = '1' ORDER BY bbw.borrow_rate DESC LIMIT 1
  	</select>
  	
</mapper>