<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.core.dao.system.SysMenuButtRelMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.core.model.system.SysMenuButtRel" >
    <id column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="button_id" property="buttonId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PID, menu_id, button_id, status, create_user, create_time, last_update_user, last_update_time, 
    version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu_butt_rel
    where PID = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_menu_butt_rel
    where PID = #{pid,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批量新增 -->
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
  	  INSERT INTO t_sys_menu_butt_rel (
			PID,
			menu_id,
			button_id,
			STATUS
		)
		VALUES
		<foreach collection="list" item="l" separator=",">
			(
				#{l.pid,jdbcType=VARCHAR}, #{l.menuId,jdbcType=VARCHAR}, #{l.buttonId,jdbcType=VARCHAR},1
			)
		</foreach>
  </insert>
  
  <!-- 根据菜单Id删除 -->
  <delete id="deleteByMenuId" parameterType="java.lang.String">
  	DELETE
	FROM
		t_sys_menu_butt_rel
	WHERE
		menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yscf.core.model.system.SysMenuButtRel" >
    insert into t_sys_menu_butt_rel (PID, menu_id, button_id, 
      status, create_user, create_time, 
      last_update_user, last_update_time, version
      )
    values (#{pid,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{buttonId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.yscf.core.model.system.SysMenuButtRel" >
    insert into t_sys_menu_butt_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="buttonId != null" >
        button_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="buttonId != null" >
        #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.core.model.system.SysMenuButtRel" >
    update t_sys_menu_butt_rel
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="buttonId != null" >
        button_id = #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.core.model.system.SysMenuButtRel" >
    update t_sys_menu_butt_rel
    set menu_id = #{menuId,jdbcType=VARCHAR},
      button_id = #{buttonId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteButtonAssign" parameterType="Map">
  	delete from t_sys_menu_butt_rel
    where menu_id = #{menuId,jdbcType=VARCHAR}
    <if test="buttonIds != null">
    and button_id in
    	<foreach collection="buttonIds" item="buttonId" index="index"
            open="(" close=")" separator=",">
            #{buttonId}
      </foreach>
    </if>
  </delete>
</mapper>