<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.core.dao.system.SysSmsTemplatesMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.core.model.system.SysSmsTemplates" >
    <id column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="sms_temp_name" property="smsTempName" jdbcType="VARCHAR" />
    <result column="sms_content" property="smsContent" jdbcType="VARCHAR" />
    <result column="temp_code" property="tempCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PID, sms_temp_name, sms_content, temp_code, status, create_user, create_time, last_update_user, 
    last_update_time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_sms_templates
    where PID = #{pid,jdbcType=VARCHAR}
  </select>
  <select id="selectAllPage"  resultMap="BaseResultMap" parameterType="map">
  	select
  	<include refid="Base_Column_List" />
  	from t_sys_sms_templates
  	where 1 = 1
  	  <if test="map.smsTempName != null" >
        and sms_temp_name like  concat('%',#{map.smsTempName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="map.smsTempNameLike != null" >
        and  sms_temp_name like   concat('%',#{map.smsTempNameLike,jdbcType=VARCHAR},'%' )
      </if>
      <if test="map.smsContent != null" >
        and sms_content like  concat('%',#{map.smsContent,jdbcType=VARCHAR},'%' )
      </if>
      <if test="map.tempCode != null" >
        and temp_code like  concat('%',#{map.tempCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="map.tempCodeLike != null" >
        and  temp_code like   concat('%',#{map.tempCodeLike,jdbcType=VARCHAR},'%' )
      </if>
      <if test="map.status != null" >
        and status like  concat('%',#{map.status,jdbcType=VARCHAR},'%' )
      </if>
      order by create_time  desc 
  </select>
  <select id="selectAll"  resultMap="BaseResultMap" parameterType="com.yscf.core.model.system.SysSmsTemplates">
  	select
  	<include refid="Base_Column_List" />
  	from t_sys_sms_templates
  	where 1 = 1
  	  <if test="smsTempName != null" >
        and sms_temp_name like  concat('%',#{sms_temp_name,jdbcType=VARCHAR},'%' )
      </if>
      <if test="smsContent != null" >
        and sms_content like  concat('%',#{sms_content,jdbcType=VARCHAR},'%' )
      </if>
      <if test="tempCode != null" >
        and temp_code like  concat('%',#{tempCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="status != null" >
        and status like  concat('%',#{status,jdbcType=VARCHAR},'%' )
      </if>
      <if test="createUser != null" >
        and create_user like  concat('%',#{create_user,jdbcType=VARCHAR},'%' )
      </if>
      <if test="lastUpdateUser != null" >
        and last_update_user like  concat('%',#{last_update_user,jdbcType=VARCHAR},'%' )
      </if>
      <if test="version != null" >
        and version like  concat('%',#{version,jdbcType=VARCHAR},'%' )
      </if>
      order by create_time  desc 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_sms_templates
    where PID = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yscf.core.model.system.SysSmsTemplates" >
    insert into t_sys_sms_templates (PID, sms_temp_name, sms_content, 
      temp_code, status, create_user, 
      create_time, last_update_user, last_update_time, 
      version)
    values (#{pid,jdbcType=VARCHAR}, #{smsTempName,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, 
      #{tempCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.core.model.system.SysSmsTemplates" >
    insert into t_sys_sms_templates
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="smsTempName != null" >
        sms_temp_name,
      </if>
      <if test="smsContent != null" >
        sms_content,
      </if>
      <if test="tempCode != null" >
        temp_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="smsTempName != null" >
        #{smsTempName,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="tempCode != null" >
        #{tempCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.core.model.system.SysSmsTemplates" >
    update t_sys_sms_templates
    <set >
      <if test="smsTempName != null" >
        sms_temp_name = #{smsTempName,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        sms_content = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="tempCode != null" >
        temp_code = #{tempCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.core.model.system.SysSmsTemplates" >
    update t_sys_sms_templates
    set sms_temp_name = #{smsTempName,jdbcType=VARCHAR},
      sms_content = #{smsContent,jdbcType=VARCHAR},
      temp_code = #{tempCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateStatusBatch" parameterType="java.util.HashMap" >
  
    update t_sys_sms_templates set status = #{map.status,jdbcType=VARCHAR},
      last_update_user = #{map.lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{map.lastUpdateTime,jdbcType=TIMESTAMP}
    where PID in 
    <foreach item="idItem" collection="map.idItem" open="(" separator="," close=")">
		#{idItem}
	</foreach>
  </update>
  
  
   <select id="selectByTempCode"  resultMap="BaseResultMap" parameterType="com.yscf.core.model.system.SysSmsTemplates">
  	select
  	<include refid="Base_Column_List" />
  	from t_sys_sms_templates
  	where status = 1 and temp_code  = #{tempCode,jdbcType=VARCHAR}
  </select>
</mapper>