<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.core.dao.financial.BizEnsureMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.core.model.financial.BizEnsureMoney" >
    <id column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PID, amount, balance, status, create_user, create_time, last_update_user, 
    last_update_time
  </sql>
  
    <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
		select 
		<include refid="Base_Column_List" />
		from t_biz_ensure_money biz
		where 1 = 1 and status = 1 for update
	</select>
	
    <select id="getMoney" resultType="DECIMAL">
		select 
		SUM(balance)
		from t_biz_ensure_money 
	
	</select>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_biz_ensure_money
    where PID = #{pid,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_biz_ensure_money
    where PID = #{pid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.yscf.core.model.financial.BizEnsureMoney" >
    insert into t_biz_ensure_money (PID, amount, balance,status, 
      create_user, create_time, last_update_user, 
      last_update_time)
    values (#{pid,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.core.model.financial.BizEnsureMoney" >
    insert into t_biz_ensure_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.core.model.financial.BizEnsureMoney" >
    update t_biz_ensure_money
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.core.model.financial.BizEnsureMoney" >
    update t_biz_ensure_money
    set amount = #{amount,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateToAddBlance" parameterType="java.math.BigDecimal" >
    update t_biz_ensure_money
    set
      balance = balance + #{amount,jdbcType=DECIMAL}
  </update>
  <update id="updateToSubBlance" parameterType="java.math.BigDecimal" >
    update t_biz_ensure_money
    set
      balance = (balance - #{amount,jdbcType=DECIMAL})
     where balance <![CDATA[ >= ]]> #{amount,jdbcType=DECIMAL} 
  </update>
</mapper>