<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.db.dao.escf2.user.CaffP2pUserIntegralMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.db.model.escf2.user.CaffP2pUserIntegral" >
    <id column="caffP2pUserIntegralId" property="caffp2puserintegralid" jdbcType="BIGINT" />
    <result column="createdDateLong" property="createddatelong" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="borrowIntegral" property="borrowintegral" jdbcType="INTEGER" />
    <result column="borrowIntegralChecked" property="borrowintegralchecked" jdbcType="INTEGER" />
    <result column="giftIntegral" property="giftintegral" jdbcType="INTEGER" />
    <result column="giftIntegralChecked" property="giftintegralchecked" jdbcType="INTEGER" />
    <result column="investIntegral" property="investintegral" jdbcType="INTEGER" />
    <result column="investIntegralChecked" property="investintegralchecked" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    caffP2pUserIntegralId, createdDateLong, version, userId, borrowIntegral, borrowIntegralChecked, 
    giftIntegral, giftIntegralChecked, investIntegral, investIntegralChecked
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CaffP2pUserIntegral
    where caffP2pUserIntegralId = #{caffp2puserintegralid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CaffP2pUserIntegral
    where caffP2pUserIntegralId = #{caffp2puserintegralid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yscf.db.model.escf2.user.CaffP2pUserIntegral" >
    insert into CaffP2pUserIntegral (caffP2pUserIntegralId, createdDateLong, 
      version, userId, borrowIntegral, 
      borrowIntegralChecked, giftIntegral, giftIntegralChecked, 
      investIntegral, investIntegralChecked)
    values (#{caffp2puserintegralid,jdbcType=BIGINT}, #{createddatelong,jdbcType=BIGINT}, 
      #{version,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{borrowintegral,jdbcType=INTEGER}, 
      #{borrowintegralchecked,jdbcType=INTEGER}, #{giftintegral,jdbcType=INTEGER}, #{giftintegralchecked,jdbcType=INTEGER}, 
      #{investintegral,jdbcType=INTEGER}, #{investintegralchecked,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.db.model.escf2.user.CaffP2pUserIntegral" >
    insert into CaffP2pUserIntegral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caffp2puserintegralid != null" >
        caffP2pUserIntegralId,
      </if>
      <if test="createddatelong != null" >
        createdDateLong,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="borrowintegral != null" >
        borrowIntegral,
      </if>
      <if test="borrowintegralchecked != null" >
        borrowIntegralChecked,
      </if>
      <if test="giftintegral != null" >
        giftIntegral,
      </if>
      <if test="giftintegralchecked != null" >
        giftIntegralChecked,
      </if>
      <if test="investintegral != null" >
        investIntegral,
      </if>
      <if test="investintegralchecked != null" >
        investIntegralChecked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caffp2puserintegralid != null" >
        #{caffp2puserintegralid,jdbcType=BIGINT},
      </if>
      <if test="createddatelong != null" >
        #{createddatelong,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="borrowintegral != null" >
        #{borrowintegral,jdbcType=INTEGER},
      </if>
      <if test="borrowintegralchecked != null" >
        #{borrowintegralchecked,jdbcType=INTEGER},
      </if>
      <if test="giftintegral != null" >
        #{giftintegral,jdbcType=INTEGER},
      </if>
      <if test="giftintegralchecked != null" >
        #{giftintegralchecked,jdbcType=INTEGER},
      </if>
      <if test="investintegral != null" >
        #{investintegral,jdbcType=INTEGER},
      </if>
      <if test="investintegralchecked != null" >
        #{investintegralchecked,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.db.model.escf2.user.CaffP2pUserIntegral" >
    update CaffP2pUserIntegral
    <set >
      <if test="createddatelong != null" >
        createdDateLong = #{createddatelong,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="borrowintegral != null" >
        borrowIntegral = #{borrowintegral,jdbcType=INTEGER},
      </if>
      <if test="borrowintegralchecked != null" >
        borrowIntegralChecked = #{borrowintegralchecked,jdbcType=INTEGER},
      </if>
      <if test="giftintegral != null" >
        giftIntegral = #{giftintegral,jdbcType=INTEGER},
      </if>
      <if test="giftintegralchecked != null" >
        giftIntegralChecked = #{giftintegralchecked,jdbcType=INTEGER},
      </if>
      <if test="investintegral != null" >
        investIntegral = #{investintegral,jdbcType=INTEGER},
      </if>
      <if test="investintegralchecked != null" >
        investIntegralChecked = #{investintegralchecked,jdbcType=INTEGER},
      </if>
    </set>
    where caffP2pUserIntegralId = #{caffp2puserintegralid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.db.model.escf2.user.CaffP2pUserIntegral" >
    update CaffP2pUserIntegral
    set createdDateLong = #{createddatelong,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      userId = #{userid,jdbcType=BIGINT},
      borrowIntegral = #{borrowintegral,jdbcType=INTEGER},
      borrowIntegralChecked = #{borrowintegralchecked,jdbcType=INTEGER},
      giftIntegral = #{giftintegral,jdbcType=INTEGER},
      giftIntegralChecked = #{giftintegralchecked,jdbcType=INTEGER},
      investIntegral = #{investintegral,jdbcType=INTEGER},
      investIntegralChecked = #{investintegralchecked,jdbcType=INTEGER}
    where caffP2pUserIntegralId = #{caffp2puserintegralid,jdbcType=BIGINT}
  </update>
</mapper>