<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.core.dao.activity.ActInvAwaActDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.core.model.activity.ActInvAwaActDetail" >
    <id column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="invest_award_id" property="investAwardId" jdbcType="VARCHAR" />
    <result column="sms_id" property="smsId" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="get_time" property="getTime" jdbcType="TIMESTAMP" />
    <result column="use_status" property="useStatus" jdbcType="VARCHAR" />
    <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="invest_award_value" property="investAwardValue" jdbcType="DECIMAL" />
    <result column="invest_award_type" property="investAwardType" jdbcType="VARCHAR" />
    
    <result column="inv_awa_desc" property="invAwaDesc" jdbcType="VARCHAR" />
    <result column="validity_period" property="validityPeriod" jdbcType="VARCHAR" />
    <result column="invalid_Time" property="invalidTime" jdbcType="VARCHAR" />
     <!-- 外表数据 -->
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="actCode" property="actCode" jdbcType="VARCHAR" />
    <result column="actTag" property="actTag" jdbcType="VARCHAR" />
    <result column="actName" property="actName" jdbcType="VARCHAR" />
    <result column="actStatus" property="actStatus" jdbcType="VARCHAR" />
    <result column="participantsNumber" property="participantsNumber" jdbcType="INTEGER" />
    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
    <result column="custName" property="custName" jdbcType="VARCHAR" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
	<result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />  
    <result column="interest" property="interest" jdbcType="INTEGER" />  
  </resultMap>
  <sql id="Base_Column_List" >
    PID, 
    activity_id, 
    invest_award_id,
    sms_id, 
    customer_id,
    get_time,
    use_status,
    status, 
    create_user,
    create_time, 
    last_update_user, 
    last_update_time, 
    version
  </sql>
<!--   根据客户pid查投资奖励积分明细 -->
  <select id="selectCusPointDetailsById" resultMap="BaseResultMap" parameterType="com.yscf.core.model.activity.ActInvAwaActDetail">
      SELECT
			tpi.invest_award_value invest_award_value,
		  	taia.use_status  use_status,
		  	taia.get_time get_time,
		  	tpi.inv_awa_desc inv_awa_desc
	  FROM
			t_act_inv_awa_act_detail taia,
			t_pub_invest_award tpi
	  where taia.invest_award_id=tpi.PID
	  and   tpi.invest_award_type=1 
	  and   taia.customer_id= #{actInvAwaActDetail.customerId,jdbcType=VARCHAR}
  </select>
  <!--   积分明细统计 -->
  <select id="selectCusPointDetailsByIdSum" resultType="java.util.Map" parameterType="com.yscf.core.model.activity.ActInvAwaActDetail">
      SELECT
			sum(tpi.invest_award_value)  "investAwardValue"
	  FROM
			t_act_inv_awa_act_detail taia,
			t_pub_invest_award tpi
	  where taia.invest_award_id=tpi.PID
	  and   tpi.invest_award_type=1 
	  and   taia.customer_id= #{actInvAwaActDetail.customerId,jdbcType=VARCHAR}
  </select>
  
  <!--   根据客户pid查投资奖励经验明细 -->
  <select id="selectJingyanDetailsById" resultMap="BaseResultMap" parameterType="com.yscf.core.model.activity.ActActivity">
      SELECT
			tpi.invest_award_value invest_award_value,
		  	taia.use_status  use_status,
		  	taia.get_time get_time,
		  	tpi.inv_awa_desc inv_awa_desc
	  FROM
			t_act_inv_awa_act_detail taia,
			t_pub_invest_award tpi
	  where taia.invest_award_id=tpi.PID
<!-- 	  invest_award_type=1:积分 2:经验 3：加息券 -->
	  and   tpi.invest_award_type=2 
	  and   taia.customer_id= #{actInvAwaActDetail.customerId,jdbcType=VARCHAR}
  </select>
   <!--   经验明细统计 -->
  <select id="selectJingyanDetailsByIdSum" resultType="java.util.Map" parameterType="com.yscf.core.model.activity.ActActivity">
     SELECT
			sum(tpi.invest_award_value) "investAwardValue"
	  FROM
			t_act_inv_awa_act_detail taia,
			t_pub_invest_award tpi
	  where taia.invest_award_id=tpi.PID
<!-- 	  invest_award_type=1:积分 2:经验 3：加息券 -->
	  and   tpi.invest_award_type=2 
	  and   taia.customer_id= #{actInvAwaActDetail.customerId,jdbcType=VARCHAR}
  </select>
  
   <!--   根据客户pid查投资奖励加息明细 -->
  <select id="selectJiaXiDetailsById" resultMap="BaseResultMap" parameterType="com.yscf.core.model.activity.ActActivity">
      SELECT
			tpi.invest_award_value,
			TIMESTAMPDIFF(
				DAY,
				tpi.start_time,
				tpi.end_time
			) validity_period,
			taia.use_status,
			taia.get_time,
			tpi.end_time invalid_Time,
			tpi.inv_awa_desc
	  FROM
			t_act_inv_awa_act_detail taia,
			t_pub_invest_award tpi
	  where taia.invest_award_id=tpi.PID
<!-- 	  invest_award_type=1:积分 2:经验 3：加息券 -->
	  and   tpi.invest_award_type=3 
	  and   taia.customer_id= #{actInvAwaActDetail.customerId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_act_inv_awa_act_detail
    where PID = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_act_inv_awa_act_detail
    where PID = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yscf.core.model.activity.ActActivity" >
    insert into t_act_inv_awa_act_detail (PID, activity_id, invest_award_id, 
      sms_id, customer_id, get_time, 
      use_status, status, create_user, 
      create_time, last_update_user, last_update_time, 
      version)
    values (#{pid,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{investAwardId,jdbcType=VARCHAR}, 
      #{smsId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP}, 
      #{useStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.core.model.activity.ActActivity" >
    insert into t_act_inv_awa_act_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="investAwardId != null" >
        invest_award_id,
      </if>
      <if test="smsId != null" >
        sms_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="getTime != null" >
        get_time,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="investAwardId != null" >
        #{investAwardId,jdbcType=VARCHAR},
      </if>
      <if test="smsId != null" >
        #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null" >
        #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.core.model.activity.ActActivity" >
    update t_act_inv_awa_act_detail
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="investAwardId != null" >
        invest_award_id = #{investAwardId,jdbcType=VARCHAR},
      </if>
      <if test="smsId != null" >
        sms_id = #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null" >
        get_time = #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.core.model.activity.ActActivity" >
    update t_act_inv_awa_act_detail
    set activity_id = #{activityId,jdbcType=VARCHAR},
      invest_award_id = #{investAwardId,jdbcType=VARCHAR},
      sms_id = #{smsId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      get_time = #{getTime,jdbcType=TIMESTAMP},
      use_status = #{useStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
 
  <!-- 查询所需要用到的列 -->
  	<sql id="Base_Invest_Column_List" >
  		aa.PID,aa.act_code actCode,aa.act_name actName,aa.act_tag actTag,aa.status actStatus,peg.invest_award_value,peg.invest_award_type,peg.start_time,peg.end_time,
		(select count(aead.PID) from t_act_inv_awa_act_detail aead where aead.activity_id = aa.PID) as participantsNumber,peg.interest
  	</sql>
  	
  	<!-- 查询赠送体验金活动列表,带分页 -->
  	<select id="selectAllPageByCondition" resultMap="BaseResultMap" parameterType="com.yscf.core.model.activity.ActInvAwaActDetail" > 
  		select 
  		<include refid="Base_Invest_Column_List" />
  		from t_pub_invest_award peg 
		LEFT JOIN t_act_activity aa 
		on aa.object_id = peg.PID 
		where aa.activity_type = 4 
		and peg.status != -1  
		and aa.status != -1  
		<if test="map.actCode != null and map.actCode != '' " > 
        	and  aa.act_code like concat('%',#{map.actCode,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actName != null and map.actName != '' " > 
        	and  aa.act_name like concat('%',#{map.actName,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actTag != null and map.actTag != '' " > 
        	and  aa.act_tag like concat('%',#{map.actTag,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actStatus != null and map.actStatus != 0 " > 
        	and  aa.status = #{map.actStatus,jdbcType=VARCHAR}
        </if>
        ORDER BY peg.create_time DESC
     </select>
     
  	<!-- 查询参与人数的总计 -->
  	<select id="selectParticipantsNumberByCondition"  resultType="java.lang.Integer" parameterType="com.yscf.core.model.activity.ActInvAwaActDetail" >
  		select 
  		sum( (select count(aead.PID) from t_act_inv_awa_act_detail aead where aead.activity_id = aa.PID) )
		from t_pub_invest_award peg 
		LEFT JOIN t_act_activity aa 
		on aa.object_id = peg.PID 
		where aa.activity_type = 4 
		and peg.status != -1  
		and aa.status != -1  
		<if test="map.actCode != null and map.actCode != '' " > 
        	and  aa.act_code like concat('%',#{map.actCode,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actName != null and map.actName != '' " > 
        	and  aa.act_name like concat('%',#{map.actName,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actTag != null and map.actTag != '' " > 
        	and  aa.act_tag like concat('%',#{map.actTag,jdbcType=VARCHAR},'%' )
        </if>
        <if test="map.actStatus != null and map.actStatus != 0 " > 
        	and  aa.status = #{map.actStatus,jdbcType=VARCHAR}
        </if>
  	</select>
     
     <!-- 查询赠送投资奖励明细列表,带分页 -->
  	<select id="selectAllPageDetail" resultMap="BaseResultMap" parameterType="com.yscf.core.model.activity.ActInvAwaActDetail" > 
		select d.PID,c.PID customerId,c.customer_name customerName,c.sname custName ,c.phone_no phoneNo,
		award.invest_award_value ,d.use_status,d.get_time,award.invest_award_type  
		FROM
		t_act_inv_awa_act_detail d
		LEFT JOIN t_act_activity aa
		on d.activity_id = aa.PID
		LEFT JOIN t_cust_customer c
		on d.customer_id = c.PID
		LEFT JOIN t_pub_invest_award award 
		on award.PID = d.invest_award_id
		where d.activity_id = #{map.activityId,jdbcType=VARCHAR}
  	</select>
     <!--导出-->
  	<select id="selectAllPageDetailEom" resultMap="BaseResultMap"> 
  	
  	  select  
		  * 
		  from (
		  select *,	(@rown := @rown + 1) rowns
		  	
		   from 
		  	(
		select d.PID,c.PID customerId,c.customer_name customerName,c.sname custName ,c.phone_no phoneNo,
		award.invest_award_value ,d.use_status,d.get_time,award.invest_award_type  
		FROM
		t_act_inv_awa_act_detail d
		LEFT JOIN t_act_activity aa
		on d.activity_id = aa.PID
		LEFT JOIN t_cust_customer c
		on d.customer_id = c.PID
		LEFT JOIN t_pub_invest_award award 
		on award.PID = d.invest_award_id
		where d.activity_id = #{map.activityId,jdbcType=VARCHAR}
		
			) m ,
			(SELECT @rown := 0) b
		) t where 1=1 
		
		<include refid="export_query_sql"></include>
  	</select>
<!--   		查询单个客户拥有 单类型的 投资奖励集合 -->
 		<select id="selectAllPageByTypeId" resultMap="BaseResultMap" parameterType="map">  
			select 
				d.pid,d.activity_id,d.invest_award_id , d.sms_id,d.customer_id,d.use_status,d.use_time,d.`status` 
			from t_act_inv_awa_act_detail d 
			LEFT JOIN t_pub_invest_award  a	on a.PID = d.activity_id
			INNER JOIN t_cust_customer c on d.customer_id = c.pid 
				where a.invest_award_type = #{investAwardType,jdbcType=VARCHAR} 
				AND c.pid=#{customerId,jdbcType=VARCHAR}
 		</select>
  	  <!-- 导出查询条件 -->
	  <sql id="export_query_sql">
	  	<if test="expm.exportSet != null and expm.exportSet != ''">
	  		<!-- 选择情况一 -->
	  		<if test="expm.exportSet == 1 and expm.checkrows != null">
	  			AND t.PID IN 
	  			<foreach collection="expm.checkrows" index="index" item="item" open="(" separator="," close=")">  
			        #{item,jdbcType=VARCHAR} 
			    </foreach>  
	  		</if>
	  		
	  		<!-- 选择情况二 -->
	  		<if test="expm.exportSet == 2 and expm.startCheckpage != null and expm.endCheckpage != null">
	  			limit #{expm.startCheckpage,jdbcType=INTEGER},#{expm.endCheckpage,jdbcType=INTEGER}
	  		</if>
	  		
	  		<!-- 选择情况三 -->
	  		<if test="expm.exportSet == 3 and expm.startCheckrecords != null and expm.endCheckrecords != null">
				AND t.rowns BETWEEN #{expm.startCheckrecords,jdbcType=INTEGER}
					AND #{expm.endCheckrecords,jdbcType=INTEGER} 
	  		</if>
	  	</if>
	  </sql>
	  
  	<!-- 批量新增 -->
  	<insert id="insertBatch" parameterType="java.util.List">
  		insert into t_act_inv_awa_act_detail (pid,activity_id,invest_award_id,sms_id,customer_id,get_time,use_status,use_time,status,create_user,create_time)   
    	values
    	<foreach collection="list" item="item" index="index" separator="," >  
       		(#{item.pid},#{item.activityId},#{item.investAwardId},#{item.smsId},#{item.customerId},#{item.getTime},
       		#{item.useStatus},#{item.useTime},#{item.status},#{item.createUser},#{item.createTime})  
    	</foreach>  
  	</insert>
  	
  	<!-- 获取活动参与人数 -->
  	<select id="selectInterestCount" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select count(1)  
  		from t_act_inv_awa_act_detail aiad 
  		where aiad.invest_award_id = #{investAwardId,jdbcType=VARCHAR} 
  	</select>
  	
  	<!-- 根据加息劵活动ID查询加息劵已领取明细 -->
  	<select id="selectInterestListByInvestAwardId" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select aiad.pid, DATE_FORMAT(aiad.get_time,'%m-%d %H:%i:%S') invAwaDesc, cc.phone_no phoneNo,
  		cc.image_url imageUrl, ia.invest_award_value
		from t_act_inv_awa_act_detail aiad,t_cust_customer cc,t_pub_invest_award ia
		where aiad.customer_id = cc.pid
		and aiad.invest_award_id = ia.PID
		and aiad.invest_award_id = #{investAwardId,jdbcType=VARCHAR} 
  	</select>
  	
  	<!-- 检查用户是否参与当前加息劵活动 -->
  	<select id="checkUserIsAttend" parameterType="java.lang.String"  resultType="java.lang.Integer">
  		select count(1) 
  		from t_act_inv_awa_act_detail 
  		where invest_award_id = #{investAwardId,jdbcType=VARCHAR}
  		and customer_id = #{customerId,jdbcType=VARCHAR}
  	</select>
  	
</mapper>