<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yscf.db.dao.escf2.platform.CaffOptionMapper" >
  <resultMap id="BaseResultMap" type="com.yscf.db.model.escf2.platform.CaffOption" >
    <id column="caffOptionId" property="caffoptionid" jdbcType="BIGINT" />
    <result column="createdDateLong" property="createddatelong" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="bitState" property="bitstate" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    caffOptionId, createdDateLong, version, bitState, name, sort, title, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CaffOption
    where caffOptionId = #{caffoptionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CaffOption
    where caffOptionId = #{caffoptionid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yscf.db.model.escf2.platform.CaffOption" >
    insert into CaffOption (caffOptionId, createdDateLong, version, 
      bitState, name, sort, 
      title, value)
    values (#{caffoptionid,jdbcType=BIGINT}, #{createddatelong,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, 
      #{bitstate,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yscf.db.model.escf2.platform.CaffOption" >
    insert into CaffOption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caffoptionid != null" >
        caffOptionId,
      </if>
      <if test="createddatelong != null" >
        createdDateLong,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="bitstate != null" >
        bitState,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caffoptionid != null" >
        #{caffoptionid,jdbcType=BIGINT},
      </if>
      <if test="createddatelong != null" >
        #{createddatelong,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="bitstate != null" >
        #{bitstate,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yscf.db.model.escf2.platform.CaffOption" >
    update CaffOption
    <set >
      <if test="createddatelong != null" >
        createdDateLong = #{createddatelong,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="bitstate != null" >
        bitState = #{bitstate,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where caffOptionId = #{caffoptionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yscf.db.model.escf2.platform.CaffOption" >
    update CaffOption
    set createdDateLong = #{createddatelong,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      bitState = #{bitstate,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where caffOptionId = #{caffoptionid,jdbcType=BIGINT}
  </update>
</mapper>