@charset "utf-8";
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5 arial,simsun}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline;color:#2980b9;}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img,object{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
body{color:#333;background:#fff;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"}
input[type="text"]{
	border:2px solid #d5d5d5;
	-moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari 和 Chrome */
    border-radius: 4px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	height:26px;
	box-sizing: content-box;
}
.cchu{
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width:136px;
}
.dr_2{
	min-height: 615px;
}
select{
	padding-left: 10px;
	width: 100px;
	border-radius: 5px;
	border:2px solid #d5d5d5;
	-moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari 和 Chrome */
    border-radius: 4px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	height:30px;
}
input[type="text"]:focus{
	border:2px solid #2980b9;
}
input[type="password"]{
	    box-sizing: content-box;
	border:2px solid #d5d5d5;
	-moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari 和 Chrome */
    border-radius: 4px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	height:26px;
}
input[type="password"]:focus{
	border:2px solid #2980b9;
}
a:focus, *:focus {noFocusLine: expression(this.onFocus=this.blur());}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
ul{list-style:none}
ol{list-style:decimal}
img{max-width:100%}
table{table-layout:fixed;border-collapse:separate;border-spacing:0px}
td{white-space:normal;word-wrap:break-word;word-break:break-all}
a:hover{text-decoration:none;}
.po_relative{position:relative}

.block{display:block}
.inline{display:inline}
.inline_block{display:inline-block}
.hidden{visibility:hidden}
.fontNormal{font-weight:normal;}
.left{float:left}
.right{float:right}
.p0{
	padding: 0!important;
}
.p30{
	padding: 30px;
}
.plr30{
	padding-left: 30px!important;
    padding-right: 30px!important;
}
.pt8{padding-top:8px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pr8{padding-right:8px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr40{padding-right:40px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pl8{padding-left:8px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.height0{height:0}
.height1{height:1px}
.height5{height:5px}
.height10{height:10px}
.height15{height:15px}
.height20{height:20px}
.height25{height:25px}
.height30{height:30px}
.g-h0,.g-h1,.g-h10,.g-h15,.g-h20,.g-h25,.g-h30,.g-h5{clear:both;overflow:hidden}
.align_left{text-align:left}
.align_center{text-align:center}
.align_right{text-align:right}
.clear{clear:both;height:0;}
.size12{font-size:12px}
.size14{font-size:14px}
.size16{font-size:16px!important;}
.size18{font-size:18px}
.size20{font-size:20px}
.size62{font-size:62px}
.colorgrey{color:#c7c3bd;}
.colorDarkBlue{color:#34495e;}
.size16{font-size:16px}
.size18{font-size:18px}
.size20{font-size:20px}
.size28{font-size:28px}
.size26{font-size:26px}
.size36{font-size:36px;}
.weight700{font-weight:700}
.weight400{font-weight:400}
.g-ffs{font-family:simsun}
.g-ffh{font-family:simhei}
.g-ffy{font-family:Microsoft YaHei}
.g-fft{font-family:tahoma}
.colororg{color:#f4a322;}
.colorblu{color:#3788be;}
.frame1000{width:1140px;margin:0 auto;}

/*边距*/
.m5 { margin:5px }
.m10 { margin:10px }
.m15 { margin:15px }
.m20 { margin:20px }
.mt1{margin-top: 1px;}
.mt5 { margin-top:5px }
.mt9 { margin-top:9px }
.mt10 { margin-top:10px }
.mt13 { margin-top:13px }
.mt15 { margin-top:15px }
.mt20 { margin-top:20px }
.mt25 { margin-top:25px }
.mt30 { margin-top:30px }
.mt40 { margin-top:40px }
.mt45 { margin-top:45px }
.mt50 { margin-top:50px }
.mt70 { margin-top:70px }
.mt90 { margin-top:90px }
.mb5 { margin-bottom:5px }
.mb10 { margin-bottom:10px }
.mb15 { margin-bottom:15px }
.mb20 { margin-bottom:20px }
.mb25 { margin-bottom:20px }
.mb30 { margin-bottom:30px }
.ml5 { margin-left:5px }
.ml7 { margin-left:7px }
.ml10 { margin-left:10px }
.ml40 { margin-left:40px }
.ml15 { margin-left:15px }
.ml20 { margin-left:20px }
.ml25 { margin-left:25px }
.ml30 { margin-left:30px }
.ml63 { margin-left:63px }
.ml65 { margin-left:65px; }
.ml99{margin-left: 99px;}
.mr1 { margin-right:1px }
.mr5 { margin-right:5px }
.mr7 { margin-right:7px }
.mr10 { margin-right:10px }
.mr15 { margin-right:15px }
.mr20 { margin-right:20px }
.mr30 { margin-right:30px }
.mr40 { margin-right:40px }
.mr105 { margin-right:105px }
.m_auto{
	margin: 0 auto;
}

/*定位*/
.tl { text-align:left!important;}
.tc { text-align:center }
.tr { text-align:right }
.fl { float:left; display:inline }
.fr { float:right; display:inline }
.cb { clear:both }
.cl { clear:left;}
.cr { clear:right }
.pos-r{position:relative}
.pos-a{position:absolute}
.pos-f{position:fixed}
.pos-s{position:static}
.vm { vertical-align:middle }
.vm-img img { vertical-align:middle; }
.pr { position:relative }
.pa { position:absolute }
.zoom { zoom:1 }
.hidden { visibility:hidden }
.none { display:none; }
.oh{ overflow:hidden;}
.inblock { display:inline-block!important;}
.ft-wt{ font-weight:bold;}

/**字体大小**/
.f-12{ font-size:12px;}
.f-14{ font-size:14px;}
.f-15{ font-size:15px;}
.f-16{ font-size:16px;}
.f-18{ font-size:18px;}
.f-20{ font-size:20px;}
.f-24{ font-size:24px;}
.f-25{ font-size:25px;}
.f-30{ font-size:30px;}

.ac_r_ti_a:hover{
	color: #FFFFFF!important;
	cursor: pointer;
}
/**文本颜色**/
.color_ff{color:#FFF;}
.text_blue{ color:#33495D;}
.text-black{ color:#232426;}
.text-orange{ color:#FF8400;}
.text-red{ color:#E31A1A;}
.text_blue2{color:#3788be;}

/**背景颜色**/
.bgc{ background:#FFF;}
.bgecf0f1{ background:#ecf0f1;}
/*日期控件样式*/
#CalendarMain {
	width: 300px;
	height: 300px;
	border-right: 1px solid #F2F5F7;
	float:left;
}
#title {
	width: 100%;
	height: 30px;
	padding-top:20px;

}
.selectBtn {
	font-weight: 900;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	padding: 2px 10px 6px 10px;
}
/* .selectBtn:hover {
	background-color: #1d953f;
} */
.selectYear {
	float: left;
	margin-left: 50px;
	position: absolute;
}
.selectMonth {
	float: left;
	margin-left: 120px;
	position: absolute;
}
.month {
	float: left;
	position: absolute;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	background-color: #fff;
	width: 100%;
}
.week {
	width: 100%;
	height: 30px;
}
.week>h3 {
	float: left;
	color: #808080;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 16px;
}
.week>span {
	display: inline-block;
	float: left;
	color: #808080;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 16px;
}
.dayItem {
	float: left;
}
.lastItem {
	color: #d1c7b7 !important;
}
.item {
	color: #3788be;
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 13px;
}
.item:hover {
	color: #b9121b;
}
.currentItem>a {
	background-color: #f4a322;
	width: 25px;
	line-height: 25px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
#foots {
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
#footNow {
	float: left;
	margin: 6px 0 0 5px;
	color: #009ad6;
	font-family: "微软雅黑";
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 100%;
	overflow: hidden;
}
#centerMain {
	width: 300%;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
	background-color: #fff;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
	background-color: #fff;
}
#selectMonthDiv>div {
	color: #909090;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
	background-color: #efefef;
}
#centerCalendarMain {
	float: left;
}

.fl_{
	float: left;
}
.fr_{
	float: right;
}

/*空白div s*/
.i_{
	font-style:normal
}
.kong1{
	width: 100%;
	height: 1px;
}
.kong5{
	width: 100%;
	height: 5px;
}
.kong10{
	width: 100%;
	height: 10px;
}
.kong15{
	width: 100%;
	height: 15px;
}
.kong20{
	width: 100%;
	height: 20px;
}
.kong25{
	width: 100%;
	height: 25px;
}
.kong30{
	width: 100%;
	height: 30px;
}
.kong35{
	width: 100%;
	height: 35px;
}
.kong40{
	width: 100%;
	height: 40px;
}
.kong45{
	width: 100%;
    height: 45px;
    }
.kong50{
	height: 50px;
}    
.kong55{
	height: 55px;
}
.kong60{
	width: 100%;
	height: 60px;
}
.kong65{
	width: 100%;
	height: 65px;
}
.kong70{
	width: 100%;
	height: 70px;
}
.kong75{
	width: 100%;
	height: 75px;
}
.kong80{
	width: 100%;
	height: 80px;
}
.kong85{
	width: 100%;
	height: 85px;
}
.kong90{
	width: 100%;
	height: 90px;
}
.kong95{
	width: 100%;
	height: 95px;
}
.kong100{
	width: 100%;
	height: 100px;
}
.kong105{
	width: 100%;
	height: 105px;
}
.kong120{
	width: 100%;
	height: 120px;
}
.kong150{
	width: 100%;
	height: 150px;
}
.kong200{
	width: 100%;
	height: 200px;
}
/*空白div e*/
/*颜色 s*/
/*深蓝色*/
.cshenlan{
	color:rgb(0, 0, 238);
}
/*深灰黑*/
.c5b5953{
	color: #5b5953;
}
/*浅灰黑*/
.c798383{
	color: #798383;
}
.ffffff{
	color: #FFFFFF;
}
.b0b0b0{
	color: #b0b0b0!important;
}
.2980b9{
	color: #2980b9;
}
.c2980b9{
	color: #2980b9;
}
.colorc{
	color: #f39c12;
}
.cf2f2f2{
	color:#f2f2f2!important ;
}
.fffe80{
	color: #fffe80;
}
.000000_{
	color: #000000;
}
.c95a1a6{
	color: #95a1a6;
}
.c9b9c9d{
	color: #9b9c9d;
}
.c96bc7f{
	color: #96bc7f;
}
.e5e9eb{
	color: #e5e9eb;
}
.cf1c40f{
	color: #f1c40f;
}
.bdc3c7{
	color: #bdc3c7;
}
.cd5d5d5{
	color: #d5d5d5;
}
.c797f83{
	color: #797f83;
}
/*颜色 e*/
/*背景s*/
.bg297FB9{
	background: #297FB9!important;
	
}
.bgecf0f1{
	background: #ecf0f1;
}
.bg4c4c4c{
	background: #4c4c4c;
}
.bgf2f6f8{
	background: #f2f6f8;
}
.bge5e9eb{
	background: #e5e9eb;
}
.bgffffff{
	background: #FFFFFF!important;
}
.bgebeff1{
	background: #ebeff1!important;
}
.w60{
	width: 60px;
}
.w100{
	width: 100px!important;
}
.w95{
	width: 95px;
}
.w104{
	width: 104px;
}
.w110{
	width: 110px;
}

.w115{
	width: 115px;
}
.w120{
	width: 120px;
}
.w125{
	width: 125px;
}
.w130{
	width: 130px;
}
.w135{
	width: 135px;
}
.w140{
	width: 140px;
}
.w145{
	width: 145px;
}
.w150{
	width: 150px;
}


.w160{
	width: 160px;
}
.w165{
	width: 165px;
}
.w185{
	width: 185px;
}
.w190{
	width: 190px;
}
.w205{
	width: 205px;
}
.w200{
	width: 200px;
}
.w210{
	width: 210px;
}
.w220{
	width: 220px;
}
.w230{
	width: 230px;
}
.w234{
	width: 234px;
}
.w240{
	width: 240px;
}
.w244{
	width: 244px;
}
.w250{
	width: 250px;
}
.w260{
	width: 260px;
}
.w264{
	width: 264px;
}
.w215{
	width: 215px;
}
.w220{
	width: 220px;
}


.w270{
	width: 270px;
}
.w275{
	width: 275px;
}
.w280{
	width: 280px;
}
.w290{
	width: 290px;
}
.w295{
	width: 295px;
}
.w300{
	width: 300px;
}
.w310{
	width: 310px;
}
.w315{
	width: 315px;
}
.w330{
	width: 330px;
}
.w335{
	width: 335px;
}
.w340{
	width: 340px;
}
.w360{
	width: 360px;
}
.w370{
	width: 370px;
}
.w400{
	width: 400px;
}
.w460{
	width: 460px;
}
.w420{
	width: 420px;
}
.w580{
	width: 580px;
}
.w700{
	width: 700px;
}
.w945{
	width: 945px;
}
.w950{
	width: 950px;
}
.w1200{
	width: 1200px;
}
.w1140{
	width: 1140px;
}
.w1110{
	width: 1110px;
}
.w1065{
	width: 1065px;
}
.w100x{
	width: 100%;
}
.mh555{
	min-height: 555px;
}
.mh105{
	min-height: 105px;
}
.h_{
	height: 100%;
}
.h10{
	height: 10px;
}
.h1{
	height: 1px;
}
.h2{
	height: 2px;
}
.h350{
	height: 350px;
}
.h500{
	height: 500px;
}
.h530{
	height: 530px;
}
/*背景e*/
/*字体size s*/
.size24{
	font-size: 24px 
}
.size12{
	font-size: 12px;
}
.size30{
	font-size: 30px;
}
.size62{
	font-size: 62px;
	line-height: 62px;
	height: 62px;
}
.size80{
	font-size: 62px;
	line-height: 80px;
	height: 80px;
}
/*字体size e*/
    
/*灰色线s*/    
.hui_l{
	border-bottom: #f2f5f7 solid 1px;
}
.hui_lO{
	border-bottom: #d6d8d9 solid 1px;
}
.hui_l_q{
	border: #f2f5f7 solid 1px;
}
.hui_q{
	border-bottom: #f7f9f9 solid 1px;
}
.hui_r{
	border-right: #f7f9f9 solid 1px;
}
/*灰色线e*/  
/*行高s*/
.lh150{
	line-height: 150px;
}
.lh120{
	line-height: 120px;
}
.lh110{
	line-height: 110px;
}
.lh105{
	line-height: 105px;
}
.lh100{
	line-height: 100px;
}
.lh95{
	line-height: 95px;
}
.lh75{
	line-height: 75px;
}
.lh60{
	line-height: 60px;
}
.lh58{
	line-height: 58px;
}
.lh55{
	line-height: 55px;
}
.lh50{
	line-height: 50px;
}
.lh45{
	line-height: 45px;
}
.lh40{
	line-height: 40px;
}
.lh35{
	line-height: 35px;
}
.lh33{
	line-height: 33px;
}
.lh30{
	line-height: 30px;
}
.lh26{
	line-height: 26px!important;
}
.lh25{
	line-height: 25px;
}
.lh22{
	line-height: 22px;
}
.lh20{
	line-height: 20px;
}
.lh18{
	line-height: 18px;
}
.lh15{
	line-height: 15px;
}
/*行高s*/
/*手势s*/
.cus_p{
	cursor: pointer;
}
/*手势e*/
/*个人中心页头s*/
.ge_ye_tilte{
	width: 100%;
    border-bottom: #f2f5f7 solid 1px;
    color: #95a1a6;
    height: 64px;
}
.ge_ye_tilte_nav{
    padding: 30px 20px 17px 20px;
    cursor: pointer;
    display: inline-block;
    /* height: 23px; */
    line-height: 15px;
    font-size: 16px;
    
}
/*个人中心页头e*/
/*表格说明s*/
th{
	text-align: left;
	font-size: 14px;
}
td{
	text-align: left;
	font-size: 12px;
}
/*表格说明e*/
/*个人中心 文字段落s*/
.vip_shuo p{
	line-height: 35px;
	color: #34495e;
}
.vip_shuo{
	width: 850px;
	font-size: 14px;
}
.vip_shuo .p_t{
	font-size: 16px;
}
/*个人中心 文字段落s*/
/*勾选s*/
.gou_s{
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/gou_a.png) no-repeat;
	
}
.gou_s:hover{
	background-position: -25px 0px;
}
/*勾选e*/
/*去表框s*/
.bnb{
	border: none;
}
/*去表框e*/
.radio_xiu2 {
    top: 5px;
    position: relative;
}
/*时间s*/
.time_tt{
    bottom: -345px;
    left: 250px;
}
.time_{
	width: 120px;
	border: 2px solid #d5d5d5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 26px;
}
/*时间e*/
/*白按钮s*/
.tyb_a_l_i1 {
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 10px!important;
    display: inline-block;
    text-align: center;
}
/*白按钮e*/
/*提示框s*/
.ts_lv{background: #e4f3da; color: #80b95d;}
.ts_lh{background: #faf5e2; color: #f39c12;}
.ts_re{background: #f9ece8; color: #e28b69;}
.input_tis{
	text-align: left;
	margin-top: 5px;
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	padding: 6px 10px 6px 10px;
}
/*提示框e*/
/*验证码 s*/
#kaptchaImg{height:26px;}
/*验证码 e*/
/*个人中心 左上角绑定样式提示 s*/
.geren_{
	width: 100px;
	border-radius: 4px;
    top: -21px;
    left: -29px;
    text-align: center;
}
.listico span:hover i{
	display: inline-block;
}
/*个人中心 左上角绑定样式提示 e*/
.none{display:none}
.none_{display:none!important;}
.h660{height:660px;}
.loginBanner{height:630px; width:1140px;}
