<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ep2p-system</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 防止缓存溢出配置 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 获取request上下文 -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!--指定Spring配置文件和初始化监听器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/spring-application.xml
		</param-value>
	</context-param>
	
	<!-- spring环境选择 production和Test -->
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>production</param-value>
	</context-param>
	
  <servlet>
    <display-name>同步UC Server发出的操作指令</display-name>
    <servlet-name>UC</servlet-name>
    <servlet-class>com.yscf.core.ucenter.UC</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UC</servlet-name>
    <url-pattern>/api/uc.php</url-pattern>
  </servlet-mapping>
	

	<!--在app server下多个服务时候用这个参数标识 <context-param> <param-name>webAppRootKey</param-name> 
		<param-value>adp-portal-web.root</param-value> </context-param> -->

	<session-config>
		<session-timeout>60</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>

	<!--使用Spring的编码转换过滤器，将请求信息的编码统一转换为UTF-8，以避免中文乱码问题 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 配置Shiro过滤器,先让Shiro过滤系统接收到的请求 -->  
	<!-- 这里filter-name必须对应applicationContext.xml中定义的<bean id="shiroFilter"/> -->  
	<!-- 使用[/*]匹配所有请求,保证所有的可控请求都经过Shiro的过滤 -->  
	<!-- 通常会将此filter-mapping放置到最前面(即其他filter-mapping前面),以保证它是过滤器链中第一个起作用的 -->  
	<filter>  
	    <filter-name>shiroFilter</filter-name>  
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
	    <init-param>  
	   <!--  该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理   -->
	    <param-name>targetFilterLifecycle</param-name>  
	    <param-value>true</param-value>  
	    </init-param>  
	</filter>
	<filter-mapping>  
	        <filter-name>shiroFilter</filter-name>  
	        <url-pattern>/*</url-pattern>  
	</filter-mapping>

	<!-- springmvc 加载 -->
	<servlet>
		<servlet-name>system</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:/config/spring-mvc.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<!-- 使用.html后缀，一方面用户不能通过URL知道我们采用何种服务端技术， 同时，可骗过搜索引擎，增加被收录的概率 。真正的静态网页可以用.htm, 
		以避免被框架拦截 此处我采用shtml来屏蔽，因为属于内网架构， 不需要过多的收录事件,真正的静态页面采用*.html来实施 -->
	<servlet-mapping>
		<servlet-name>system</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>

	<!-- 浏览器不支持put,delete等method,由该filter将xxx?_method=delete 或 xxx?_method=put 
		转换为标准的http delete、put 方法 -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>system</servlet-name>
	</filter-mapping>

	<!-- 使Druid可以监控webURl访问 -->
	<filter>
		<filter-name>druid</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>druid</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 缓存、gzip压缩核心过滤器 -->
	<filter>
		<filter-name>ViewCacheFilter</filter-name>
		<filter-class>com.achievo.framework.cache.view.ViewCacheFilter</filter-class>
		<init-param>
			<param-name>cacheURLs</param-name>
			<!-- 配置你需要缓存的url -->
			<param-value>/index.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ViewCacheFilter</filter-name>
		<url-pattern>*.shtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ViewCacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>


	<error-page>
		<error-code>401</error-code>
		<location>/error/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/exception.jsp</location>
	</error-page>
</web-app>