/*html, body {
    width: 100%;
    height: 100%;
    overflow: hidden
}
body {
    background: #1E9FFF;
}
body:after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.layui-container {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.admin-login-background {
    width: 360px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -180px;
    margin-top: -100px;
}*/
/** {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    !*background: url(../imgs/Desert.jpg) no-repeat 0px 0px;*!
    background: url(../../../../images/html_background/wallhaven-rdz897.jpg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

body {
    display: flex;
    !* 垂直布局 *!
    align-items: center;
    !* 水平布局 *!
    justify-content: center;
    height: 100%;
}*/
/*#loginDiv {
    margin: 0 auto;
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgba(75, 81, 95, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    border-radius: 5px;
}*/

.logo-title h1 {
    color: #1E9FFF;
    font-size: 25px;
    font-weight: bold;
}

/*.login-form {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 14px 20px;
    box-shadow: 0 0 8px #eeeeee;
}

.login-form .layui-form-item {
    position: relative;
}

.login-form .layui-form-item label {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.login-form .layui-form-item input {
    padding-left: 36px;
}*/

#name_trip {
    margin-left: 50px;
    color: red;
}

/*p {
    margin-top: 30px;
    margin-left: 20px;
    color: azure;
}

input {
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    height: 30px;
    width: 140px;
    background-color: rgba(216, 191, 216, 0.5);
    outline: none;
    color: #f0edf3;
    padding-left: 10px;
}

.button {
    border-color: cornsilk;
    background-color: rgba(100, 149, 237, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
}

#subDiv {
    text-align: center;
}

#loginMsg {
    text-align: center;
    color: aliceblue;
}*/
.errorMsg{
    color: red;
}
#userName_err {
    position: absolute;
    top:80px;
}
#password_err{
    position: absolute;
    top:150px;
}
a {
    text-decoration: none;
    color: crimson;
}

/*设置注册按钮样式*/
#register {
    float: right;
}
/*#username,
#password {
    width: 200px;
}*/
#register b {
    display: inline-block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    background: url(../../images/login/arrows_r_2.png) no-repeat 0px 10px;
    background-size: 20px 20px;
}

#register a {
    /*设置居中*/
    vertical-align: middle;
    display: inline-block;
    margin: 0px 0px 11px 0px;
}
#register a:hover{
    text-decoration: underline;
}
/*记住我*/
/*
.checkbox {
    width: 100px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.checkbox input {
    vertical-align: middle;
    outline: none;
}

input[type="checkbox"] {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.checkbox label {
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 10px;
}

.checkbox label:before {
    width: 16px;
    height: 16px;
}

.fixed {
    !*display: inline-block;*!
    position: relative;
}*/
.main-body {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.login-main .login-bottom .center .item input {
    display: inline-block;
    width: 227px;
    height: 22px;
    padding: 0;
    position: absolute;
    border: 0;
    outline: 0;
    font-size: 14px;
    letter-spacing: 0;
}

.login-main .login-bottom .center .item .icon-1 {
    background: url(../../images/icon-login.png) no-repeat 1px 0;
}

.login-main .login-bottom .center .item .icon-2 {
    background: url(../../images/icon-login.png) no-repeat -54px 0;
}

.login-main .login-bottom .center .item .icon-3 {
    background: url(../../images/icon-login.png) no-repeat -106px 0;
}

.login-main .login-bottom .center .item .icon-4 {
    background: url(../../images/icon-login.png) no-repeat 0 -43px;
    position: absolute;
    right: -10px;
    cursor: pointer;
}
.login-main .login-bottom .center .item .icon-5 {
    background: url(../../images/icon-login.png) no-repeat -55px -43px;
}
.login-main .login-bottom .center .item .icon-6 {
    background: url(../../images/icon-login.png) no-repeat 0 -93px;
    position: absolute;
    right: -10px;
    margin-top: 8px;
    cursor: pointer;
}

.login-main .login-bottom .tip .icon-nocheck {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: solid 1px #9abcda;
    position: relative;
    top: 2px;
    margin: 1px 8px 1px 1px;
    cursor: pointer;
}

.login-main .login-bottom .tip .icon-check {
    margin: 0 7px 0 0;
    width: 14px;
    height: 14px;
    border: none;
    background: url(../../images/icon-login.png) no-repeat -111px -48px;
}

.login-main .login-bottom .center .item .icon {
    display: inline-block;
    width: 33px;
    height: 22px;
}

.login-main .login-bottom .center .item {
    width: 288px;
    height: 35px;
    border-bottom: 1px solid #dae1e6;
    margin-bottom: 35px;
}

.login-main {
    width: 428px;
    position: relative;
    float: left;
}

.login-main .login-top {
    height: 117px;
    background-color: #148be4;
    border-radius: 12px 12px 0 0;
    font-family: SourceHanSansCN-Regular;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fff;
    line-height: 117px;
    text-align: center;
    overflow: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.login-main .login-top .bg1 {
    display: inline-block;
    width: 74px;
    height: 74px;
    background: #fff;
    opacity: .1;
    border-radius: 0 74px 0 0;
    position: absolute;
    left: 0;
    top: 43px;
}

.login-main .login-top .bg2 {
    display: inline-block;
    width: 94px;
    height: 94px;
    background: #fff;
    opacity: .1;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -16px;
}

.login-main .login-bottom {
    width: 428px;
    background: #fff;
    border-radius: 0 0 12px 12px;
    padding-bottom: 53px;
}

.login-main .login-bottom .center {
    width: 288px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    position: relative;
}

.login-main .login-bottom .tip {
    clear: both;
    height: 16px;
    line-height: 16px;
    width: 288px;
    margin: 0 auto;
}

body {
    background: url(../../images/loginbg.png) 0% 0% / cover no-repeat;
    position: static;
    font-size: 12px;
}

input::-webkit-input-placeholder {
    color: #a6aebf;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a6aebf;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a6aebf;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a6aebf;
}

input:-webkit-autofill { /* 取消Chrome记住密码的背景颜色 */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

html {
    height: 100%;
}

.login-main .login-bottom .tip {
    clear: both;
    height: 16px;
    line-height: 16px;
    width: 288px;
    margin: 0 auto;
}

.login-main .login-bottom .tip .login-tip {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0;
    color: #9abcda;
    cursor: pointer;
}

.login-main .login-bottom .tip .forget-password {
    font-stretch: normal;
    letter-spacing: 0;
    color: #1391ff;
    text-decoration: none;
    position: absolute;
    right: 62px;
}

.login-main .login-bottom .login-btn {
    width: 288px;
    height: 40px;
    background-color: #1E9FFF;
    border-radius: 16px;
    margin: 24px auto 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    cursor: pointer;
    border: none;
}

.login-main .login-bottom .center .item .validateImg {
    position: absolute;
    right: 1px;
    cursor: pointer;
    height: 36px;
    border: 1px solid #e6e6e6;
}

.footer {
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 30px;
    padding-bottom: 10px;
    text-shadow: #000 0.1em 0.1em 0.1em;
    font-size: 14px;
}

.padding-5 {
    padding: 5px !important;
}

.footer a, .footer span {
    color: #fff;
}

@media screen and (max-width: 428px) {
    .login-main {
        width: 360px !important;
    }

    .login-main .login-top {
        width: 360px !important;
    }

    .login-main .login-bottom {
        width: 360px !important;
    }
}